
<h1>Спасибо, что выбрали нас! </h1>
<div class="container">
    <div class="left">
        <p>Скоро мы с вами свяжемся!<br>
            В течении 30 минут с вами свяжется<br>
            менеджер для подтверждения <br>
            заказа, а пока мы предлагаем вам<br> 
            посмотреть другие товары <br>
            Компании</p>
        <p>Если у вас нет времени ждать, <br>
            то напишите нам</p>
        <div style="display: flex; flex-direction: row;">
            <div class="telegram"></div>
            <div class="whatsapp"></div>
            <button class="send-order">Отправить заявку</button>
        </div>

    </div>
    <div class="right">
        <div class="left" >
            <div class="order1"></div>
            <div>
                <p>Название товара<br>Описание</p>
                <button type="submit" value="Получить скидку">Получить скидку</button>
            </div>
            
        </div>
        
        <div class="left">
            <div class="order2"></div>
            <div>
                <p>Название товара<br>Описание</p>
                <button type="submit" value="Получить скидку">Получить скидку</button>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; ">
            <div class="order3"></div>
            <div>
                <p>Название товара<br>Описание</p>
                <button type="submit" value="Получить скидку">Получить скидку</button>
            </div>
        </div>
    </div>
</div>

<p style="padding-left: 50%; color: black; font-family:'Montserrat'; font-weight:400; font-size:2vw;">За вами зафиксирована дополнительная <br>
    скидка <strong>2000 тг</strong> на другие наши продукты </p>