<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container-1">
   
    <p id="p1" style="background-color: #e0ce04; color: #313a68; min-height: 79px; width: 75%; margin-left:25%; font-size: 72pt; text-align: center; ">ПОРТАТИВНЫЙ ОБОГРИВАТЕЛЬ</p> 
    <p style="color:#ffffff;  background-color: #d11d1d; height: 5%; width: 45%; margin-left:25%; font-size: 50pt; padding-left: 25%;">СОЗДАН ДЛЯ ВАШЕГО КОМФОРТА</p>
    <div class="obogrev-img"></div>
    <p class="first-margin-r" style="color: white; font-size: 61.36px; margin-top: 5%;">УНИВЕРСАЛЬНОЕ УСТРОЙСТВО<br>ДЛЯ ДОМА И ОФИСА </p>
    
    <div class="second-container first-margin-r" >
      <div class="block-1" >
          <p >Автоматическая регулировка оптимальной температуры</p>
      </div>
      <div class="block-2">
        <p>Регулирует повышенные и пониженные градусы</p>
      </div>
      <div class=" block-3">
        <p >Удобное управление и компактные размеры</p>
      </div>
    
   </div>
  </div>
  <div class="container-2">
    <div class="first-margin-r rectangle">
      <p style="color: #333c67; font-family:'Bebas Neue', sans-serif; font-weight:bold; font-size:3vw; height: 49px; opacity:1">ПОДРОБНЕЕ О КЕРАМИЧЕСКОМ ОБОГРИВАТЕЛЕ</p>
      <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: normal; font-size: 0.8vw; line-height: 1vw;">Портативный обогреватель – это надежное устройство из класса климатической техники, которое будет максимально полезно в этом году.<br>
        В теплое время года данную модель можно использовать в качестве вентилятора благодаря соответствующему режиму.<br>
        В представленном устройстве используется керамический нагревательный элемент, основными достоинствами которой является быстрый нагрев,<br> 
        бесшумная работа и энергосбережение.</p>
    </div>
    <div class="obogrev-img2">

    </div>
  </div>
  <div class="center">
    <p style="background-color: #e0ce04; color: #333c67; font-family:'Bebas Neue', sans-serif; font-weight:bold; font-size:2vw; padding-inline: 60px; display: inline-block;">ГЛАВНЫЕ ОСОБЕННОСТИ</p>
  </div>
  <div  class="center" >
    <p style="color: #d11d1d; font-family:'Bebas Neue', sans-serif; font-weight:bold; font-size:1.5vw; text-transform: uppercase; text-align: center ;">Почему все выбирают эту модель обогревателя?</p>
  </div>
  <div class="polygon"></div>
  <div style="background-color: #f7ebd0; ">
    <div class="center" style="position: relative;">
      <p style="color: #303964; font-family:'Bebas Neue', sans-serif; font-weight:bold; font-size:48pt; text-transform: uppercase;">Преимущества теплонагревателя</p>
    </div>
    <div class="advantages" style=" display: flex; flex-direction: row; justify-content: center;">
      <div class="adv-row">
        <div>
          <div class="adv-1"></div>        
          <p >Нагрев 3 секунды</p>
        </div>
        <div>
          <div class="adv-2"></div>
          <p>Бесшумная работа</p>
        </div>
        <div>
          <div class="adv-3"></div>
          <p>Безопасная работа</p>
        </div>
        <div>
          <div class="adv-4"></div>
          <p>Обдув без вреда</p>
        </div>
        <div>
          <div class="adv-5"></div>
          <p>Регулирование</p>
        </div>
      </div>
      
    </div>
  </div>
  <div style="display: flex;  justify-content: center;">
    <p style="background-color: #e0ce04; color: #000000; font-family:'Montserrat', sans-serif; font-weight:bold; font-size:1.5vw; padding-inline: 150px; display: inline-block; padding-block: 40px; border-radius: 10px;">Купить со скидкой</p>
  </div>
  <div class="characteristic">
    <p style="color: #303964; font-family:'Bebas Neue', sans-serif; font-weight:bold; font-size:2vw; text-transform: uppercase;">Технические характеристики</p>
    <p style="color: #000000; font-family:'Montserrat';font-weight: bold; font-size: 1vw; line-height: 1.5vw;">Мощность по ступеням: 750/1500 Вт <br>Параметры электросети: 220-24/50 B<br>
    Частота тока: 50 Гц<br>Степень защиты: IP20<br>Площадь обогрева: до 20<br>
    Размер: 28*19*15 cм<br>Гарантия: 1 год<br>Комплектация: Обогреватель, инструкция
    </p>
  </div>
  <div style="display: flex; flex-direction: row; padding-top: 2%; align-items: center;">
    <hr style="width:25%; height: 3px; background-color:#d11d1d; margin-left: 11.5%;" />
    <p style="color: #d11d1d; font-family:'Bebas Neue', sans-serif; font-weight:bold; font-size:1.5vw; text-transform: uppercase; ">Доставка и оплата</p>
    <hr style="width:25%; height: 3px; background-color:#d11d1d; margin-right: 13%; " />
  </div>
  <div class="deliver-cash" style="display: flex; flex-direction: row; justify-content: space-between; margin-right: 13%;">
    <div class="deliver">
      <p>Доставка почтой в течение 3-7 рабочих дней в зависимости от региона</p>
    </div>
    <div class="cash">
      <p>Оплата заказов осуществляется по факту получения товара</p>
    </div>
    <div class="check">
      <p>Мы всегда проверяем товар перед отправкой</p>
    </div>
  </div>
  <div class="center">
    <p style="color: #303964; font-family:'Bebas Neue', sans-serif; font-weight:bold; font-size:2vw; text-transform: uppercase; padding: 100px; ">Отзывы покупателей</p>
  </div>
  <div style="padding: 0;">
    <div style="display: flex; flex-direction: row;height: 500px;width: 60%; padding-inline: 35%; ">
      <div class="otzyv1"></div>
      <div style="display: flex; flex-direction: column;  padding-left: 5%;">
        <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: bold; font-size: 0.7vw; line-height: 0.5vw; ">«Прогревает комнату очень хорошо...»</p>  
        <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: regular; font-size: 0.7vw; line-height: 1vw;">У меня автономное отопление, в большой комнате тепла не хватает, и когда
        <br>ко мне приходила моя маленькая внучка, я очень беспокоилась за неё.
        <br>Теперь моя проблема разрешилась! С этим обогревателем я могу быстро 
        <br>согреть любое помещение</p>
      <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: bold; font-size: 0.7vw; line-height: 1vw;">Баглан, Алматы</p>
      </div>
    </div>
    <div style="display: flex; flex-direction: row;height: 500px;width: 60%; padding-inline: 35%; ">
      <div class="otzyv2"></div>
      <div style="display: flex; flex-direction: column;  padding-left: 5%;">
        <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: bold; font-size: 0.7vw; line-height: 0.5vw; ">«Компактный и мощный!»</p>  
        <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: regular; font-size: 0.7vw; line-height: 1vw;">С началом осени собрались с мужем купить обогреватель - отопительный
        <br>сезон в нашем доме начинается очень не скоро. Ненавижу огромные 
        <br>масляные батареи, поэтому решили попробовать что-то поменьше и получше. 
        <br>Выбор пал на данный обогреватель. Безумно довольны покупкой.</p>
      <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: bold; font-size: 0.7vw; line-height: 1vw;">Камила, Талдыкорган</p>
      </div>
    </div>
    <div style="display: flex; flex-direction: row;height: 500px;width: 60%; padding-inline: 35%; ">
      <div class="otzyv3"></div>
      <div style="display: flex; flex-direction: column;  padding-left: 5%;">
        <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: bold; font-size: 0.7vw; line-height: 0.5vw; ">«Быстро нагревает помещение»
        </p>  
        <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: regular; font-size: 0.7vw; line-height: 1vw;">
          Откровенно говоря, вообще не мог поверить, что такой маленький 
        <br>приборчик может обогреть комнату даже в 16 кв.м. Но греет ведь! 
        <br>Подключили к розетке посреди комнаты - и через минут 10 воздух прогрелся 
        <br>с +20 до +27. Я все еще в себя не пришел, это просто бомба!</p>
      <p style="color: #000000; font-family:'Montserrat', sans-serif;font-weight: bold; font-size: 0.7vw; line-height: 1vw;">Айдана, Петропавловск</p>
      </div>
    </div>
    <p style="color: #d11d1d; font-family:'Montserrat', sans-serif;font-weight: 800; font-size: 2.5vw; line-height: 2.5vw; display: flex; justify-content:center;">Закажите сегодня<br>и получите скидку </p>
  </div>

  <div class="office-img">
    <p id="p1" style="background-color: #e0ce04; color: #313a68; width: 45%; margin-left:25%; font-size: 2vw; font-family: 'Bebas Neue', sans-serif;
    font-weight: bold; padding-left: 15%;">ПОРТАТИВНЫЙ ОБОГРИВАТЕЛЬ</p> 
    <p style="color:#ffffff;  background-color: #d11d1d; height: 5%; width: 45%; margin-left:25%; font-size: 1.8vw; padding-left: 25%;">СОЗДАН ДЛЯ ВАШЕГО КОМФОРТА</p>
    <div class="form"  >
      <form style="display: flex; flex-direction: column; margin-top: 20px;">
        <div class="form-rectangle">
          <p style="color: white; font-family:'Montserrat'; font-weight:lighter; font-size:0.8vw;">Обычная цена: <br>63617 тг</p>
          <p style="color: white; font-family:'Montserrat'; font-weight:lighter; font-size:0.8vw;">Цена сегодня: <br>29900тг</p>
        </div>
        <input type="text" id="fname" name="firstname" placeholder="Ваше имя">
        <input type="text" id="lname" name="lastname" placeholder="Номер телефона">      
        <a routerLink="/order"><button  >Оформить заказ</button></a>
      </form>
    </div>
  </div>
  <div class="root" style="background-color:#000000; width:100%">
    <div style="display: flex; flex-direction: row; justify-content: space-between; padding-inline:30% ; padding-block:20px">
      <p style="color: white; font-family:'Montserrat'; font-weight:lighter; font-size:0.8vw;">Политика конфиденциальности</p>
      <p style="color: white; font-family:'Montserrat'; font-weight:lighter; font-size:0.8vw;">Пользовательское соглашение</p>
    </div>
    <div style="display: flex; flex-direction: column;">
      <p style="display: flex; justify-content: center;">ИП "YourCareer"</p>
      <p style="display: flex; justify-content: center;">Адрес: проспект Аль-Фараби 17, Алматы 050010, Казахстан</p>
      <p style="display: flex; justify-content: center;">ИНН: 970225301121</p>
    </div>
  </div>
  
</body>
<router-outlet></router-outlet>



